<DOCTYPE html>

<head>
<meta charset="utf-8">
<title>Quiz</title>
<link rel='stylesheet' href='/stylessheets/style.css' />
<link rel='stylesheet' media='only screen   and (min-width:530px) and (min-device-width:481px)' href='/stylessheets/style.css' />
<link rel='stylesheet' media='only screen and (max-width:480px)' href='/stylessheets/wide.css'/>
</head>
<body>

<form method="get" action="/quizes/answer">
Pregunta : <%= pregunta %>
<input type="text" name="respuesta" value"Responda aquí" />
<input type="submit" value="Enviar">
</form>

<body>


<html>